<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.bdilab.sharedcalendar.mapper.EventTypeMapper">


    <!--新建日程类型-->
    <insert id="insertEventType" useGeneratedKeys="true" keyProperty="id" parameterType="com.bdilab.sharedcalendar.model.EventType">
        INSERT INTO event_type(type_name, type_descrption, type_transparency, fk_creator_id, create_time,subscriber_num) VALUES (#{typeName}, #{typeDescrption}, #{typeTransparency}, #{fkCreatorId}, #{createTime},#{subscriberNum});
    </insert>

    <!--搜索用户日程列表信息-->
    <select id="selectEventTypeByUserId" parameterType="int" resultType="com.bdilab.sharedcalendar.model.EventType">
                select event_type.id as id,
                       event_type.type_name as typeName,
                       event_type.type_descrption as typeDescrption,
                       event_type.type_transparency as typeTransparency,
                       event_type.fk_creator_id as fkCreatorId,
                       event_type.create_time as createTime,
                       event_type.subscriber_num as subscriberNum
                from event_type
                where event_type.fk_creator_id= #{userId}
            </select>

    <!--删除用户的多个日程类型-->
    <delete id="deleteEventType">
        delete from event_type where event_type.id IN
        <foreach collection="eventTypeIds" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

    <!--根据typeId搜索用户名-->
    <select id="selectCreatorNameByTypeId" parameterType="int" resultType="String">
        select user.nick_name
        from user,event_type
        where event_type.id=#{typeId} and user.id = event_type.fk_creator_id
    </select>

    <!--根据typeId搜索EventType-->
    <select id="selectEventTypeById" parameterType="int" resultType="com.bdilab.sharedcalendar.model.EventType">
        select event_type.id as id,
               event_type.type_name as typeName,
               event_type.type_descrption as typeDescrption,
               event_type.type_transparency as typeTransparency,
               event_type.fk_creator_id as fkCreatorId,
               event_type.create_time as createTime,
               event_type.subscriber_num as subscriberNum
        from event_type
        where event_type.id= #{typeId}
    </select>

    <!--更新EventType信息-->
    <update id="updateEventTypeInfo"  parameterType="com.bdilab.sharedcalendar.model.EventType">
        update event_type
        <trim prefix="set" suffixOverrides=",">
            <if test="typeName!=null">type_name=#{typeName},</if>
            <if test="typeTransparency!=-1">type_transparency=#{typeTransparency},</if>
            <if test="typeDescrption!=null">type_descrption=#{typeDescrption}</if>
        </trim>
        where event_type.id=#{id}
    </update>

</mapper>