<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.bdilab.sharedcalendar.mapper.PubMapper">

    <!--查询个人信息-->
    <select id="selectUserById" parameterType="int" resultType="com.bdilab.sharedcalendar.model.User">
                select user.id as id,
                       user.nick_name as userName,
                       user.avatar_url as avatarUrl,
                       user.user_openid as userOpenid
                from user
                where user.id= #{id}
            </select>

    <!--查询个人信息-->
    <select id="selectUserByOpenid" parameterType="String" resultType="com.bdilab.sharedcalendar.model.User">
                select user.id as id,
                       user.nick_name as nickName,
                       user.avatar_url as avatarUrl,
                       user.user_openid as userOpenid
                from user
                where user.user_openid= #{open_id}
            </select>

    <!--新建用户-->
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.bdilab.sharedcalendar.model.User">
        INSERT INTO user(user_openid) VALUES (#{userOpenid});
    </insert>

    <!--更新用户信息-->
    <update id="updateUserInfo" parameterType="com.bdilab.sharedcalendar.model.User">
        UPDATE user
        SET user.nick_name = #{nickName}, user.avatar_url = #{avatarUrl}
        WHERE user.id = #{id}
    </update>

    <!--为用户新建默认类型-->
    <insert id="insertDefaultEventType" useGeneratedKeys="true" keyProperty="id" parameterType="com.bdilab.sharedcalendar.model.EventType">
        INSERT INTO event_type(type_name, type_transparency, fk_creator_id, create_time,subscriber_num) VALUES (#{typeName}, #{typeTransparency}, #{fkCreatorId}, #{createTime},#{subscriberNum});
    </insert>
</mapper>